nav {
   display: flex;
   padding-top: 24px;
   color: var(--text-color-secondary);
   background-color: var(--surface-color);
}

nav ul {
   display: flex;
   margin-left: auto; 
   list-style: none;
   gap: 24px;
   align-items: center;
}

#magnifying-glass{
   object-fit: contain;
}

#profile-mini{
   width: 40px;
   height: 40px;
}

